/* global styles */
:root {
    --primary-color: #CCF381;
    --font-color: #4831D4;
    --logo-font: 'Dancing Script', cursive;
    --general-font: 'Montserrat', sans-serif;
}

*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: var(--general-font);
}

.section-header{
    display: flex; justify-content: center; align-items: center;
    padding: 0 2% 10%;
    margin: 2%;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
}

button{
    background: var(--primary-color); color: var(--font-color);
    cursor: pointer; transition: all .5s ease-in;
    font-size: 1rem; letter-spacing: .1em;
    padding: 1% 2%; margin: 10% 0 2% 32%;
    font-weight: 900; width: 40%;
    border-radius: 7px; border: none;
    box-shadow: 0 0 4px 6px rgba(0, 0, 0, .3);
    transition: transform .4s ease-in-out;
}

button:hover{
    transform: scale(.9);
    color: coral;
}

/* header specific styling */
header{
  position: fixed; top: 0; left: 0; z-index: 3;
    display: flex; justify-content: space-around;
    flex-direction: row; align-items: center; width: 100%;
    height: 10vh; box-shadow: 0 0 4px 6px rgba(0, 0, 0, .3);
    background: url("https://cdn.f1connect.net/media/176405/funeralcaskets.jpg");
}

#overlay{
  background: rgba(0, 0, 0, .6);
  width: 100%; height: 100%;
}

.logo{
    font-family: var(--logo-font);
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand{
    text-decoration: underline;
    font-weight: 900;
}

.brand-icon, .brand{
    font-family: var(--logo-font);
    font-size: 1.5rem;
    color: darkgoldenrod;
    padding: .2rem;
    font-family: var(--logo-font);
}

.menu{
    display: none;
    list-style: none;
    background: var(--primary-color);
    color: var(--font-color);
    position: relative; top: 10vh; right: 0;
    width: 50%; height: 29%;
    padding: 1rem;
    border-radius: 8px;
}

.show-menu{
  display: block !important;
  z-index: 2;
  box-shadow: inset -6px -6px -6px rgba(0, 0, 0, .3);
}

.menu li a {
    text-decoration: none;
    font-weight: 900;
    transition: transform 0.4s ease; 
    transform: scale(1); /* Set initial scale */
  }
  
  .menu li a:hover,
  .menu li a:active {
    transform: scale(1.3);
    color: coral;
  }

.menu li{
    padding: 5px;
    text-align: center
}

.humburger-btn {
    position: absolute; top: 29%; right: 17%;
    display: flex; flex-direction: column;
    cursor: pointer; z-index: 3;
    transition: transform .4s ease;
  }

  .humburger-btn:hover{
    transform: scale(0.8);
  }
  
  .bar {
    width: 25px; height: 4px;
    background-color: var(--primary-color);
    margin: 12% 0; border-radius: 3px;
    transition: transform 0.4s ease;
  }
  
  /* Styling for toggling the bars to form an X */
  .open {
    position: absolute; top: 35%; right: 17%;
  }
  
  .open .bar:nth-child(1) {
    transform: translateY(2px) rotate(45deg);
  }
  
  .open .bar:nth-child(2) {
    display: none;
  }
  
  .open .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  /* home page specific styles */
  #home{
    background: rgb(236, 241, 246);
    height: 100%; width: 98%;
    border-radius: 8px;
    padding: 3% 2% 3%; margin: 15vh 7% 5% 1%;
    box-shadow: 0 0 6px 7px rgba(0, 0, 0, .2);
  }

  #home-img{
    background-color: var(--font-color);
    width: 100%; height: auto; border-radius: 10px;
    display: flex; justify-content: center; align-items: baseline;
    margin-bottom: 10%;
  }

  #home-img img{
    width: 80%; border-radius: 10px;
  }

  #home-text{
    display: flex; justify-content: center;
    align-items: center; flex-direction: column;
    text-align: center;
    width: 80;
  }

  #home-text h1{
    line-height: 1.5; margin-bottom: 8%;
    font-weight: 900;
  }

  #home-text p{
    line-height: 1.5; margin: 1rem;
  }

  #home p span{
    font-weight: 900; font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #whatsapp{
    margin: 2rem 3rem 1rem; position: relative;
    left: 30%; width: 3rem; height: 3rem;
    display: flex; justify-content: center;
    align-items: center;
  }

  #whatsapp a{
    font-size: 3rem; color: green;
    transition: all .3s ease-in-out;
  }

  #whatsapp i{
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, .5);
    line-height: .8; border-radius: 5px;
  }

  #whatsapp a:hover{
    color: rgb(11, 72, 11);
    transform: scale(1.2);
  }
  
  /* contact section specific styles */
  #contact{
    background: rgb(236, 241, 246);
    height: 100%; width: 98%;
    border-radius: 8px;
    padding: 3% 2% 3%; margin: 15vh 7% 5% 1%;
    box-shadow: 0 0 6px 7px rgba(0, 0, 0, .2);
  }

  fieldset{
    padding: 6% 0;
    border: none;
  }

  #form-field{
    font-size: 90%;
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 2%;
  }

  input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: 97%; line-height: 2; margin: .5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease-in-out;
}

/* Hover effect */
input[type="text"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
textarea:hover,
select:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Focus effect */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Even more prominent shadow on focus */
  outline: none; /* Removing the default outline */
}

#radio-field {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
  }

  #radio-field input{
    padding: 0; margin: 4px;
  }


  label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  
/* footer specific styles */
footer{
    background-image: url("https://cdn.f1connect.net/media/176405/funeralcaskets.jpg");
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    font-family: var(--general-font);
}

footer .content{
    margin: auto;
    padding: .5rem;
    background: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.contact-icons{
    padding: 0 0 1rem;
    line-height: 1.5;
}

.contact-icons li a{
    text-decoration: none; color: inherit;
    padding: .3rem;
    transition: all .4s ease;
    transform: scale(1);
}

.contact-icons li a:hover{
    transform: scale(1.2);
    color: coral;
}

.social-icons{
    padding: .6rem 0 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.social-icons li{
    border: solid 1px whitesmoke;
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    text-align: center;
    transition: all .4s ease;
}

.social-icons li:hover{
    transform: scale(1.3);
    background-color: #CCF381;
    color: #4831D4;
}

.social-icons li a{
    text-decoration: none; color: inherit;
}

footer .content h1{
    color: darkgoldenrod;
    font-family: var(--logo-font); letter-spacing: .2rem;
    line-height: 2;
    font-weight: 900;
}

footer .content h3{
    font-weight: 800;
    line-height: 2;
}

footer .content ul{
    list-style: none;
}
